* {
	box-sizing: border-box;
}

.page {
	width: 1000px;
	height: 2000px;
	font-family: 'PT Sans', sans-serif;
	color: #333;
	margin: 0 auto;
}

.layer {
	position: relative;
	border: 2px solid #000000;
	width: 519px;
	height: 746px;
}

.layer_layer1 {
	top: -20px;
	left: -20px;
	background-color: #ebebeb;
	padding: 41px 34px 48px 34px;
}

.layer_layer2 {
	top: -20px;
	left: -20px;
	background-color: #cccccc;
}

.layer_layer3 {
	top: 240px;
	left: 258px;
	background-color: #cccccc;
}

.main-header {
	font-size: 24px;
	font-weight: 400;
	text-align: left;
	margin: 0px 0px 14px 0px;
}

.text {
	font-size: 12px;
	font-weight: 400;
	text-align: left;
}

.footer-header {
	font-size: 18px;
	font-weight: 400;
	text-align: left;
	clear: both;
}

.img-main-left {
	margin-right: 21px;
	float: left;
}

.img-main-right {
	float: right;
	margin-bottom: 20px;
}

.img-footer-left {
	float: left;
	margin-bottom: 14px;
}

.img-footer-right {
	float: right;
	margin-bottom: 14px;
}

.footer__text {
	font-size: 9px;
	font-weight: 400;
	text-align: center;
	clear: both;
	padding-top: 14px;
}

.bookmark {
	border-bottom-right-radius: 10px;
	border-top-right-radius: 10px;
	border-width: 2px;
	border-color: #000000;
	border-style: solid;
	width: 95px;
	height: 31px;
	float: right;
	margin-left: -200px;
	position: relative;
}

.bookmark_bookmark3 {
	top: 40px;
	left: 20px;
	background-color: #00aeef;
}

.bookmark_bookmark2 {
	top: 40px;
	left: 50px;
	background-color: #39b54a;
}

.bookmark_bookmark1 {
	background-color: #f68e56;
	width: 107px;
	left: 110px;
	bottom: 40px;
}

.social-links {
	border: 1px solid #362f2d;
	background-color: #fbaf5d;
	width: 87px;
	height: 69px;
	position: fixed;
	bottom: 0%;
	right: 0%;
}

.social-links__header {
	font-size: 16px;
	font-weight: 400;
	text-align: center;
	margin: 10px 0px 10px 0px;
}

.icons {
	margin: 0;
	padding: 0;
}

.icons__item {
	width: 18px;
	height: 18px;
	list-style-type: none;
	display: inline-block;
	text-align: center;
	line-height: 18px;
	font-size: 11px;
	margin-left: 5px;
	border-radius: 100%;
}

.icons__item_bgc_blue {
	background-color: blue;
}

.icons__item_bgc_black {
	background-color: black;
}

.icons__item_bgc_deepskyblue {
	background-color: deepskyblue;
}

.link {
	color: white;
}